Code/
GIMP/
LM Studio/
MuseScore/
Open Steno Project/
QtProject.conf
Qtrac
Ltd./
Ride-4.6/
RogueLegacy/
Signal/
X-Cinnamon-xdg-terminals.list
atac
audacity/
caja
chromium/
cinnamon-monitors.xml
cinnamon-monitors.xml~
cinnamon
dconf/
enchant/
evolution/
forem/
go
goa-1.0
gopls
gtk-2.0
gtk-3.0
helpme/
ibus
jgit
libreoffice
menus
mimeapps.list
nemo
pix
pulse
user-dirs.dirs
user-dirs.locale
vlc
warp-terminal/
xdg-terminals.list
xed
Qtrac Ltd./
